button.css-1x8cf1d.edgvbvh10
{ background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
        margin: 10px;
        padding: 10px 35px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #3936bb;
        border-radius: 10px;
        display: block;
}

      .css-1x8cf1d.edgvbvh10:hover 
      {
        background-position: right center;
        color: #fff;
        text-decoration: none;
 }
 div.css-1629p8f.e16nr0p31>h2
{font-family: "Source Sans Pro", sans-serif;
        font-size: 34px !important;
        line-height: 1;
        color: #ffffff;
        border: 3px solid rgba(10, 59, 151, 0.505);
        border-radius: 10px;
        margin: 10px;
        display: block;
        text-align: center;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        text-shadow: #1A2980 1px 0.5px ;
}
